@import url('https://fonts.googleapis.com/css?family=Garamond:300,700|Quattrocento:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Quattrocento:700');

:root {
  --background-color: #ddd;
  --text-color: #000;
  --story-color: #888;
  --gold: #b97c2c;
}

.theme-dark {
  --text-color: #ddd;
  --background-color: #000;
  --text-color: #fff;
}


body {
    font-family: 'Garamond', 'Georgia', serif;
    font-weight: lighter;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: hidden;
}

body.switched {
    transition: background-color 1s ease, color 1s ease;
}

#written-in-ink {
    background-color: var(--background-color);
    z-index: 3;
    font-size: 9pt;
    font-weight: 700;
    position: fixed;
    text-align: center;
    display: block;
    width: 100%;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    height: 14px;
    top: 0;
}

#controls {
    background-color: var(--background-color);
    z-index: 4;
    font-size: 9pt;
    text-align: center;
    padding-bottom: 6px;
    position: fixed;
    right: 14px;
    top: 4px;
}

#title {
    color: var(--text-color);
    text-align: center;
    padding-top: 50px;
    margin-bottom: 0px;
    letter-spacing: 2px;
}

#byline {
    margin-top: 0px;
    padding-bottom: 10px;
    text-align: center;
}

#story {
    color: var(--story-color);
    margin: auto;
    padding: 15px;
    max-width: 600px;
}

#outerContainer {
    diplay: block;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.blend {
    transition: opacity 1s ease;
}

.hide {
    opacity: 0.0 !important;
}

.event {
    font-style: italic;
    opacity: 0.50;
}


h1 {
    font-size: 30pt;
    margin-bottom: 10px;
    
}

h2 {
    font-size: 14pt;
    font-style: italic;
}

a {
    font-weight: 700;
    color: var(--gold);
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-align: center;
}

p {
    font-size: 14pt;
    padding-top: 5px;
}

a:hover {
    color: var(--text-color);
}
