@import url('https://fonts.googleapis.com/css?family=Garamond:300,700|Quattrocento:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Quattrocento:700');

:root {
  --background-color: #ddd;
  --text-color: #000;
  --story-color: #888;
  --gold: #b97c2c;
}

.theme-dark {
  --text-color: #ddd;
  --background-color: #000;
  --text-color: #fff;
}

html {
    font-size: 18pt;
}

body {
    font-family: 'Garamond', 'Georgia', serif;
    font-weight: lighter;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: hidden;
}

body.switched {
    transition: background-color 1s ease, color 1s ease;
}

.left, .center, .right {
    white-space: nowrap;
    flex-grow: 1;
    flex-basis: 0;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

.right {
    text-align: right;
}

#controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--background-color);
    z-index: 4;
    font-size: 0.5rem;
    padding-bottom: 6px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#title {
    color: var(--text-color);
    text-align: center;
    padding-top: 80px;
    margin-bottom: 0px;
    letter-spacing: 2px;
}

#byline {
    margin-top: 0px;
    padding-bottom: 40px;
    text-align: center;
}

#story {
    color: var(--story-color);
    margin: auto;
    padding: 15px;
    max-width: 700px;
}

#outerContainer {
    diplay: block;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.choice {
    text-align: center;
}

.blend {
    transition: opacity 1s ease;
}

.hide {
    opacity: 0.0 !important;
}

.event {
    font-style: italic;
    opacity: 0.50;
}


h1 {
    font-size: 2rem;;
    margin-bottom: 10px;
    
}

h2 {
    font-size: 1rem;
    font-style: italic;
}

a {
    font-weight: 700;
    color: var(--gold);
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

p {
    font-size: 0.9rem;
    padding-top: 5px;
}

a:hover {
    color: var(--text-color);
}
