@font-face {
  font-display: swap;
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('./eb-garamond-v30-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./open-sans-v40-latin-regular.woff2') format('woff2');
}

:root {
  --background-color: #ddd;
  --text-color: #222;
  --story-color: #888;
  --bold-color: #666;
  --gold: #b97c2c;
}

.theme-dark {
  --text-color: #ddd;
  --bold-color: #aaa;
  --background-color: #000;
}

html {
    font-size: 9pt;
}

body {
    font-family: 'EB Garamond', 'Garamond', 'Georgia', serif;
    font-weight: lighter;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: hidden;
}

body.switched {
    transition: background-color 1s ease, color 1s ease;
}

#controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--background-color);
    z-index: 4;
    font-size: 1rem;
    padding-bottom: 6px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#title {
    color: var(--text-color);
    text-align: center;
    padding-top: 80px;
    margin-bottom: 0px;
    letter-spacing: 2px;
}

#byline {
    margin-top: 0px;
    padding-bottom: 40px;
    text-align: center;
}

#story {
    color: var(--story-color);
    margin: auto;
    padding: 15px;
    max-width: 700px;
}

#outerContainer {
    diplay: block;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#closeBtn {
    font-size: 3rem;
    margin-bottom: -10px;
    cursor: pointer;
}

#attrText {
    margin: 10px;
}

.modal h1 {
    font-size: 3rem;
}

.modal {
    display: none;
    position: absolute;
    background-color: var(--background-color);
    left: 20px;
    top: 40px;
    max-width: calc(100vw - 40px);
    max-height: calc(100vh - 80px);
    width: calc(100vw - 40px);
    height: calc(100vh - 80px);
    z-index: 5;
    overflow: hidden;
}

.modal .full {
    display: block;
    background-color: var(--background-color);
    overflow: auto;
    max-width: 100%;
    max-height: 100%;
    width: calc(100% - 20px);
    height: calc(100% - 60px);
    margin: 10px;
    border: solid var(--text-color);
}

.modal ul {
    font-size: 1.4rem;
}

.modal p {
    font-size: 1.4rem;
}

.left, .center, .right {
    white-space: nowrap;
    flex-grow: 1;
    flex-basis: 0;
}

.left {
    padding-left: 10px;
    text-align: left;
}

.center {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

.right {
    padding-right: 10px;
    text-align: right;
}


.choice {
    font-size: 1.8rem;
    text-align: center;
}

.blend {
    transition: opacity 1s ease;
}

.hide {
    opacity: 0.0 !important;
}

.event {
    font-style: italic;
    opacity: 0.50;
}

b {
    color: var(--bold-color);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    font-style: italic;
}

a {
    font-weight: 700;
    color: var(--gold);
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    cursor: pointer;
}

p {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    font-size: 1.8rem;
}

a:hover {
    color: var(--text-color);
}

@media (max-width: 450px) {
    .save-space {
        display: none;
    }
}

@media (max-width: 300px) {
    .right {
        white-space: normal;
    }
}
